body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: mediumaquamarine;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  background-color: white;
  transform-style: preserve-3d;
  height: 20rem;
  width: 25rem;
  transform: rotateY(var(--rotate-y, 0));
}

.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}